<h2>Los intentos que puede hacer el jugador son <%=@intentos%></h2>
<h2>Con un codigo numerico de <%=@tamañoCodigo%> digitos</h2> 
<form method='get' action='/'>
    <input type="submit" value='volver al inicio'>
</form>

