

<form method='post' action='nuevoIntento'>
    <h3>ingrese el codigo sercreto</h3>
    <br>
    <input type='number' name='codigoSereto'>
    <h2>Tienes tantas cows y tantos bulls</h2>
    <h2>Los intentos restantes <%=@intentos%>-i (ojio no supe que poner necesito la parte del intento)</h2> 
    <input type='submit' value='intentar_de_nuevo'> 

</form>