<form method='post' action='formato'>
    <h3>Cantidad de intentos</h3>
    <br>
    <input type='number' name='intentos' value="10" min="1" max="20">    
    <br>
    <h3>Tamaño del codigo secreto</h3>
    <br>
    <input type='number' name='tamañoCodigo' value="5" min="1" max="10">
    
    <br>
    <input type='submit' value='enviar'>
</form>