<form method='post' action='formato'>
    <h3>Cantidad de intentos</h3>
    <br>
    <input type='number' name='intentos'>    
    <br>
    <h3>Tamaño del codigo secreto</h3>
    <br>
    <input type='number' name='tamañoCodigo'>
    
    <br>
    <input type='submit' value='enviar'>
</form>