<h1>Ganaste!</h1>
<h3>Intentos requeridos para adivinar el codigo<h3>
<h3><%=@@juego.getIntentosRealizados%>/<%=@@juego.getIntento%><h3>
<form method='get' action='/'>
    <input type="submit" value='volver al inicio'>
</form>