<h1> Ingresa su numero romano </h1>
<form method='post' action='/'>
    Numero: <input type='number' min='1' max='100' name='numeroConvertir'>
    <input type="submit" value='convertir!'>
    <h1> Numero en romano:  <%=@nuevoNumero%> </h1>
</form>




<%# Historia de usuario 1: Anotar un punto de cualquiera de los dos jugadores %>
<%# Historia de usuario 2: Controlar los casos de advantage %>
<%# Historia de usuario 2: Ganar el game %>

