<form method='post' action='crearLimite'>
    ingresear condiciones: 
    <input type='submit' value='enviar'>

</form>

<%# Historia de usuario 1: Anotar un punto de cualquiera de los dos jugadores %>
<%# Historia de usuario 2: Controlar los casos de advantage %>
<%# Historia de usuario 2: Ganar el game %>

